[submodule "accessData/src/main/proto"]
	path = accessData/src/main/proto
	url = https://github.com/IntelligentBackpack/AccessCommunication.git
[submodule "desktopData/src/main/proto/book"]
	path = desktopData/src/main/proto/book
	url = https://github.com/IntelligentBackpack/BookCommunication.git
[submodule "reminderData/src/main/proto/calendar"]
	path = reminderData/src/main/proto/calendar
	url = https://github.com/IntelligentBackpack/CalendarCommunication.git
